.exclusive-priviledges
    h3(data-action='disclose') Эксклюзивные привилегии для&nbsp;клиентов Coral&nbsp;Travel
    .more
        p.note Привилегии распространяются на&nbsp;все типы&nbsp;размещения
        ul
            li
                .icon(style='background-image: url(/site/coral.ru/inline-assets/icon-exclusive-01.svg)')
                .label.
                    #[strong Бесплатный доступ] в&nbsp;Бизнес лаунж в&nbsp;Московских а/п: Внуково и&nbsp;Домодедово
                    (при предъявлении ваучера Lujo&nbsp;Hotel&nbsp;Bodrum)
            li
                .icon(style='background-image: url(/site/coral.ru/inline-assets/icon-exclusive-01.svg)')
                .label.
                    #[strong Одно бесплатное посещение] а-ля карт ресторана "Secret" для гостей, проживающих более 7&nbsp;ночей
            li
                .icon(style='background-image: url(/site/coral.ru/inline-assets/icon-exclusive-01.svg)')
                .label.
                    #[strong Бесплатный доступ] в&nbsp;TAV Primeclass Lounge в&nbsp;а/п&nbsp;Бодрум (при предъявлении ваучера Lujo&nbsp;Hotel&nbsp;Bodrum)
