- var this_hotel = data.countries.turkey.regions.antalia.hotels.KempinskiVillasBelek

include ./-hotel-mixins.pug

body
    link(rel='stylesheet', href='/site/coral.ru/css/hotel.less')

    include ../inline-assets/features-sprite.svg

    section.hero.underbrow.kv
        article
            .contenu
                h2.h1 Элитный отдых для тех, кто ценит комфорт
                p Приватные виллы, где все продумано до мелочей

    include ./-hotels-xnav.pug

    section.hero.hotel-intro: article: .contenu
        div
            p Архитектура отеля пропитана культурой доосманских сельджуков. Дизайн всего отеля отражает оригинальные черты и&nbsp;символы этой богатой культуры, а&nbsp;все номера воплощают гармоничное сочетание старого и&nbsp;нового.
            p Этот роскошный 5-звездочный отель с&nbsp;концепцией Luxury Все Включено которая дополняется услугами Кемпински и&nbsp;обладает историческим и&nbsp;культурным духом. Благодаря своим просторным помещениям и&nbsp;небольшому количеству гостей, отель является синонимом изысканного&nbsp;отдыха.
            p Расположенный недалеко от&nbsp;Анталии и&nbsp;многочисленных исторических достопримечательностей, в&nbsp;одном из&nbsp;самых живописных уголков Турецкой Ривьеры. Отель имеет собственный пляж, отмеченный Голубым флагом и&nbsp;находится рядом с&nbsp;двумя полями для гольфа.

    +hotel-concept-slider(this_hotel)

    section.hero.villas-heading
        article
            .contenu
                h2 Виллы
                p Kempinski Villas Belek&nbsp;&mdash; это современные виллы, в&nbsp;которых преобладают материалы, сочетающую традиционную и&nbsp;современную архитектуру. Мы&nbsp;предлагаем своим гостям роскошь, комфорт и&nbsp;незабываемый отдых с&nbsp;привилегированным обслуживанием.

    +villas-contactsheet(this_hotel)

    +villas(this_hotel)

    section.hero.fin-c2a
        article
            .contenu
                .contact-block
                    .info
                        h3 Заполните заявку и наш менеджер поможет вам с подбором тура!
                        .actions
                            a.ramp(href='#app-form', data-ym-reachgoal='elite-ost-z') Оставить заявку

    include ./-learn-more-popin.pug

    #app-form
        a(href='#_') &zwj;
        .popin-container
            iframe#smIframe-zie4semg3q6u509k(src="https://app2.salesmanago.pl/ms/sid/end4k5eqd4o8yidi/zie4semg3q6u509k.htm")
            a.dismiss(href='#_') &times;

    script(type='module', src='/site/coral.ru/js/hotel.coffee')
