- var this_hotel = data.countries.turkey.regions.aegean.hotels.Lujo

include ./-hotel-mixins.pug

body
    link(rel='stylesheet', href='/site/coral.ru/css/hotel.less')

    include ../inline-assets/features-sprite.svg

    section.hero.underbrow.kv
        article
            .contenu
                h2.h1 Элитный отдых для тех, кто ценит комфорт
                p Приватные виллы, где все продумано до мелочей

    include ./-hotels-xnav.pug

    section.hero.hotel-intro: article: .contenu
        div
            p Кредо отеля &mdash; отдых как Искусство и&nbsp;Радость как преобразующая сила.
            p Основные ценности: простота, гуманизм, удовольствие, искренность и&nbsp;качество.
            p Высокая репутация отеля свидетельствует о&nbsp;неукоснительном следовании своим&nbsp;принципам.

    section.hero.exclusive-privileges
        article
            .contenu
                .exclusive-privileges
                    h4(data-action='disclose') Эксклюзивные привилегии для&nbsp;клиентов Coral&nbsp;Travel
                    .more
                        p.note Привилегии распространяются на&nbsp;все типы&nbsp;размещения
                        ul
                            li
                                .icon &zwj;
                                .label.
                                    #[strong Бесплатный доступ] в&nbsp;Бизнес лаунж в&nbsp;Московских а/п: Внуково и&nbsp;Домодедово
                                    (при предъявлении ваучера Lujo&nbsp;Hotel&nbsp;Bodrum)
                            li
                                .icon &zwj;
                                .label.
                                    #[strong Одно бесплатное посещение] а-ля карт ресторана "Secret" для гостей, проживающих более 7&nbsp;ночей
                            li
                                .icon &zwj;
                                .label.
                                    #[strong Бесплатный доступ] в&nbsp;TAV Primeclass Lounge #[nobr в а/п Бодрум] (при предъявлении ваучера Lujo&nbsp;Hotel&nbsp;Bodrum)

    +hotel-concept-slider(this_hotel)

    section.hero.villas-heading
        article
            .contenu
                h2 Виллы
                p Возможность уединения в&nbsp;условиях суперсовременного&nbsp;комфорта.

    +villas-contactsheet(this_hotel)

    +villas(this_hotel)

    section.hero.fin-c2a
        article
            .contenu
                .contact-block
                    .info
                        h3 Заполните заявку и наш менеджер поможет вам с подбором тура!
                        .actions
                            a.ramp(href='#app-form', data-ym-reachgoal='elite-ost-z') Оставить заявку

    include ./-learn-more-popin.pug

    #app-form
        a(href='#_') &zwj;
        .popin-container
            iframe#smIframe-zie4semg3q6u509k(src="https://app2.salesmanago.pl/ms/sid/end4k5eqd4o8yidi/zie4semg3q6u509k.htm")
            a.dismiss(href='#_') &times;

    script(type='module', src='/site/coral.ru/js/hotel.coffee')
