- var this_hotel = data.countries.turkey.regions.antalia.hotels.MaxxRoyalKemerResort

include ./-hotel-mixins.pug

body
    link(rel='stylesheet', href='/site/coral.ru/css/hotel.less')

    include ../inline-assets/features-sprite.svg

    section.hero.underbrow.kv
        article
            .contenu
                h2.h1 Элитный отдых для тех, кто ценит комфорт
                p Приватные виллы, где все продумано до мелочей

    include ./-hotels-xnav.pug

    section.hero.hotel-intro: article: .contenu
        div
            p.
                Роскошный отель в&nbsp;живописном месте Кемера, предлагающий гостям привилегированный отдых в&nbsp;окружении первозданной природы, ласкового моря и&nbsp;непревзойденного турецкого колорита.
                На&nbsp;территории отеля есть все необходимое для комфортного отдыха взыскательных туристов: индивидуальные пляжные павильоны, рестораны и&nbsp;бары с&nbsp;отличной кухней и&nbsp;напитками премиум-класса, шикарный пляж с&nbsp;привезенным мальдивским песком и&nbsp;качественная анимация для гостей всех возрастов.
                В&nbsp;каждом номере отеля органично сочетаются комфорт, роскошный интерьер и&nbsp;завораживающее разнообразие комплекса эксклюзивных услуг. Maxx Royal Kemer Resort перевернет ваше представление о&nbsp;роскоши и&nbsp;окунет вас в&nbsp;мир привилегий.

    +hotel-concept-slider(this_hotel)

    section.hero.villas-heading
        article
            .contenu
                h2 Виллы
                p Виллы с&nbsp;отдельным бассейном на&nbsp;берегу моря завораживают домашним уютом и&nbsp;комфортом, фантастической роскошью, а&nbsp;также великолепным видом на&nbsp;Средиземное море.

    +villas-contactsheet(this_hotel)

    +villas(this_hotel)

    section.hero.fin-c2a
        article
            .contenu
                .contact-block
                    .info
                        h3 Заполните заявку и наш менеджер поможет вам с подбором тура!
                        .actions
                            a.ramp(href='#app-form', data-ym-reachgoal='elite-ost-z') Оставить заявку

    include ./-learn-more-popin.pug

    #app-form
        a(href='#_') &zwj;
        .popin-container
            iframe#smIframe-zie4semg3q6u509k(src="https://app2.salesmanago.pl/ms/sid/end4k5eqd4o8yidi/zie4semg3q6u509k.htm")
            a.dismiss(href='#_') &times;

    script(type='module', src='/site/coral.ru/js/hotel.coffee')
