- var this_hotel = data.countries.egypt.regions.all.hotels.RixosPremiumMagawish

include ./-hotel-mixins.pug

body
    link(rel='stylesheet', href='/site/coral.ru/css/hotel.less')

    include ../inline-assets/features-sprite.svg

    section.hero.underbrow.kv
        article
            .contenu
                h2.h1 Элитный отдых для тех, кто ценит комфорт
                p Приватные виллы, где все продумано до мелочей

    include ./-hotels-xnav.pug

    section.hero.hotel-intro: article: .contenu
        div
            p Элегантный отель расположился на&nbsp;первой береговой линии в&nbsp;Хургаде, вдоль побережья Синайского полуострова. Лазурные воды Красного моря, бесконечный пляж с&nbsp;нежным золотистым песком и&nbsp;непревзойденный уровень обслуживания приятно удивит самого взыскательного гостя. На&nbsp;территории отеля есть всё для комфортного отдыха: 410&nbsp;превосходных номеров, частный пляж, протяженностью 1000&nbsp;метров, великолепный спа-центр Anjana Spa, мини-клуб Rixy Kids Club для детей от&nbsp;4&nbsp;до&nbsp;12&nbsp;лет, 30&nbsp;бассейнов разной глубины, 12&nbsp;баров, 5&nbsp;ресторанов с&nbsp;меню a-la-carte, а&nbsp;также клуб дайвинга и&nbsp;серфинга. Эксклюзивной особенностью отеля является собственное конное ранчо. Погрузитесь всей семьей в&nbsp;роскошь гостеприимства Rixos Premium Magawish 5*!


    +hotel-concept-slider(this_hotel)

    section.hero.villas-heading
        article
            .contenu
                h2 Виллы
                p Светлые, просторные и&nbsp;модные виллы покорят ваше сердце индивидуальным подходом и&nbsp;широким спектром эксклюзивных услуг. Терраса с&nbsp;собственным выходом в&nbsp;бассейн, личный дворецкий и&nbsp;повар, шторы с&nbsp;дистанционным управлением, живописный вид на&nbsp;Красное море или бассейн. Виллы Rixos Premium Magawish 5*&nbsp;&mdash; это гарантия незабываемого отдыха с&nbsp;привилегированным обслуживанием.

    +villas-contactsheet(this_hotel)

    +villas(this_hotel)

    section.hero.fin-c2a
        article
            .contenu
                .contact-block
                    .info
                        h3 Заполните заявку и наш менеджер поможет вам с подбором тура!
                        .actions
                            a.ramp(href='#app-form', data-ym-reachgoal='elite-ost-z') Оставить заявку

    include ./-learn-more-popin.pug

    #app-form
        a(href='#_') &zwj;
        .popin-container
            iframe#smIframe-zie4semg3q6u509k(src="https://app2.salesmanago.pl/ms/sid/end4k5eqd4o8yidi/zie4semg3q6u509k.htm")
            a.dismiss(href='#_') &times;

    script(type='module', src='/site/coral.ru/js/hotel.coffee')
