@import "/site/common/css/coral-landing.less";

@font-face {
	font-family: 'Glyphter';
	src: url('data-url:/site/coral.ru/inline-assets/Glyphter.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

.jsless-popin(@shutter-background: rgba(0,0,0,0.8), @container-background: #fff) {
	.bbox;
	display: none !important;
	position: fixed;
	z-index: 10000;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	font-family: museosans;
	font-weight: 300;
	&:target {
		display: flex !important;
	}
	& > a {
		position: absolute;
		z-index: -1;
		width: 100%;
		height: 100%;
		background: @shutter-background;
		cursor: default;
	}
	.popin-container {
		margin: auto;
		background: @container-background;
		box-shadow: 0 2px 32px fadeout(@shutter-background, 38%);
	}
}


section.hero {
	background: white;
	&.kv {
		.hero-visual(@desktop-visual-url: '/site/coral.ru/assets/main-kv-desktop.jpg', @mobile-visual-url: '/site/coral.ru/assets/main-kv-mobile.jpg');
		color: white;
		.contenu {
			max-width: 50%;
			padding-bottom: 25%;
			@media screen and (max-width: @mobile-breakpoint) {
				max-width: none;
				text-align: center;
				justify-content: flex-start;
				padding: 10% 1.5em!important;
				> :nth-child(n+2) {
					margin-top: 10%;
				}
			}
		}
	}

	&.hotel-intro {
		p {
			text-align: center;
		}
	}

	&.concept {
		.concept-slider {
			position: relative;
			width: 100%;
			max-width: 890px;
			//margin: 2em auto 0;
			.flickity-prev-next-button {
				outline: none;
				border: 0;
				padding: 0;
				.proportional(1/1);
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				width: 3em;
				max-width: 52px;
				background: url("data-url:/site/coral.ru/inline-assets/right-button-translucent.svg") center no-repeat;
				background-size: contain;
				backdrop-filter: blur(4px);
				border-radius: 50%;
				.transit(opacity);
				cursor: pointer;
				&[disabled] {
					pointer-events: none;
					opacity: 0;
				}
				&.next {
					left: calc(~"100% + (100vw - 100%) / 5");
					@media screen and (max-width: 1200px) {
						left: auto;
						right: 5%;
					}
				}

				&.previous {
					right: calc(~"100% + (100vw - 100%) / 5");
					transform: translateY(-50%) scaleX(-1);
					@media screen and (max-width: 1200px) {
						right: auto;
						left: 5%;
					}
				}

				> svg {
					display: none;
				}
			}
			.slide {
				.proportional(890/498);
				width: 100%;
				background: center no-repeat;
				background-size: cover;
				margin: 1em;
				&:not(.is-selected) {
					cursor: pointer;
				}
			}
		}
	}

	&.villa {
		.villa-showroom {
			width: 100%;
			display: flex;
			justify-content: space-between;
			@media screen and (max-width: @mobile-breakpoint) {
			    flex-direction: column;
				align-items: center;
			}
			.main-pane {
				.proportional(1108/575);
				width: calc(~"5/6 * 100% - 0.5em");
				pointer-events: none;
				@media screen and (max-width: @mobile-breakpoint) {
					width: 100vw;
				}
				.main-item {
					opacity: 0;
					.transit(opacity, 1s);
					&.shown {
						opacity: 1;
					}
					>img {
						.abs100x100();
						object-fit: cover;
					}
				}
			}
			.nav-pane {
				.flex-column();
				justify-content: space-between;
				width: calc(~"1/6 * 100% - 0.5em");
				@media screen and (max-width: @mobile-breakpoint) {
				    flex-direction: row;
					width: 100%;
					margin-top: 1em;
				}
				.nav-item {
					flex: 1 1 100%;
					margin: 0.5em 0;
					background: center / cover no-repeat;
					.transit(flex-basis);
					.transit(margin);
					.transit(opacity);
					cursor: pointer;
					@media screen and (max-width: @mobile-breakpoint) {
						margin: 0 0.5em;
						height: 4em;
					}
					&:first-child {
						margin-top: 0!important;
						@media screen and (max-width: @mobile-breakpoint) {
							margin-left: 0!important;
						}
						&.selected {
							margin-bottom: -0.5em;
							@media screen and (max-width: @mobile-breakpoint) {
								margin-bottom: 0;
								margin-right: -0.5em;
							}
						}
					}
					&:last-child {
						margin-bottom: 0!important;
						@media screen and (max-width: @mobile-breakpoint) {
							margin-right: 0!important;
						}
						&.selected {
							margin-top: -0.5em;
							@media screen and (max-width: @mobile-breakpoint) {
								margin-top: 0;
								margin-left: -0.5em;
							}
						}
					}
					&.selected {
						opacity: 0;
						flex-basis: 0;
						margin-bottom: -0.5em;
						@media screen and (max-width: @mobile-breakpoint) {
							margin-bottom: 0;
							margin-right: -0.5em;
						}
					}
				}
			}
		}
		ul.key-facts {
			display: flex;
			justify-content: center;
			font-size: (24/20em);
			@media screen and (max-width: @mobile-breakpoint) {
				font-size: unset;
			}
			>li {
				display: flex;
				flex-flow: column-reverse nowrap;
				align-items: center;
				text-align: center;
				padding: 0 3em;
				white-space: nowrap;
				@media screen and (max-width: @mobile-breakpoint) {
					padding: 1.5em;
				}
				.value {
					font-size: (56/24em);
					line-height: 1;
					font-weight: 700;
				}
			}
		}
		.infosheets {
			width: 100%	;
			.flex-column;
			.infosheets-nav {
				width: 100%;
				display: flex;
				justify-content: center;
				margin-bottom: 1.5em;
				>button {
					flex: 1 1 auto;
					max-width: 13em;
					display: inline-flex;
					justify-content: center;
					align-items: center;
					font-size: (24/20em);
					font-weight: 700;
					line-height: 1;
					height: 2em;
					background: transparent;
					bottom: 0;
					outline: none;
					border: 0;
					border-bottom: 4px solid fade(black, 10%);
					.transit(border-color);
					cursor: pointer;
					&.selected {
						pointer-events: none;
						border-bottom-color: @coral-main-blue;
					}
				}
			}
			.infosheets-slider {
				border-radius: 1em;
				box-shadow: 0 0 32px fade(black, 10%);
				.flickity-viewport {
					overflow: hidden;
					.transit(height);
				}
				.slide {
					width: 100%;
					padding: 1.5em 2em;
					.flex-column;
					align-items: center;
					opacity: 0;
					.transit(opacity);
					&.is-selected {
						opacity: 1;
					}
					h3 {
						color: @coral-main-blue;
						line-height: 1;
						margin-bottom: 1em;
					}

					> ul {
						width: 100%;
						column-count: 3;
						column-gap: 3em;
						@media screen and (max-width: @mobile-breakpoint) {
							column-count: 2;
							column-gap: 2em;
						}

						> li {
							width: 100%;
							display: flex;
							font-size: (16/20em);
							line-height: 1.2;
							padding: .5em 0;

							&.heading {
								font-weight: 700;
								break-after: avoid-column;

								& + :not(.heading) {
									break-after: avoid-column;
								}
							}

							> .i {
								flex-shrink: 0;
								position: relative;
								margin-right: 0.62em;
								width: (20/16em);

								> svg {
									.abs100x100();
								}
							}

							> .k {
								margin-right: auto;
							}

							> .v {
								margin-left: 0.62em;
								flex-shrink: 0;
							}
						}
					}
				}
			}
		}
	}

	&.fin-c2a {
		.contact-block {
			width: 100%;
			.proportional(1440/453);
			background: url("/site/coral.ru/assets/fin-c2a-desktop.jpg") center no-repeat;
			background-size: cover;
			@media screen and (max-width: @mobile-breakpoint) {
				.proportional(720/458);
				background-image: url("/site/coral.ru/assets/fin-c2a-mobile.jpg");
				width: 100vw;
				max-width: none;
			}
			.info {
				width: 55%;
				.flex-column;
				justify-content: center;
				padding: 0 4em;
				@media screen and (max-width: @mobile-breakpoint) {
					justify-content: flex-start;
					font-size: 70%;
					padding: 2em;
					width: 65%;
				}
				h3 {
					font-size: (32/20em);
					text-align: left;
					margin-bottom: 1em;
				}
			}
		}
	}

	.exclusive-privileges {
		width: 100%;
		border: 3px solid @coral-main-yellow;
		border-radius: 1em;
		padding: 1.5em 2em;
		.more {
			& > * {
				margin-top: 1em;
			}
			ul {
				display: flex;
				justify-content: center;
				font-size: (16/20em);
				@media screen and (max-width: @mobile-breakpoint) {
				    flex-direction: column;
				}
				> li {
					flex: 0 1 (100%/3);
					.flex-column();
					align-items: center;
					padding: 2em;
					@media screen and (max-width: @mobile-breakpoint) {
					    flex-direction: row;
						padding: 1em 0;
					}
					&:nth-child(1) .icon, &:nth-child(3) .icon {
						background-image: url(data-url:/site/coral.ru/inline-assets/icon-exclusive-01.svg);
					}
					&:nth-child(2) .icon {
						background-image: url(data-url:/site/coral.ru/inline-assets/icon-exclusive-02.svg);
					}
					.icon {
						flex-shrink: 0;
						width: (90/16em);
						height: (90/16em);
						margin-bottom: 1em;
						background: center / contain no-repeat;
						@media screen and (max-width: @mobile-breakpoint) {
							margin-bottom: 0;
							margin-right: 1em;
						}
					}
					.label {
						text-align: center;
						line-height: 1.2;
						@media screen and (max-width: @mobile-breakpoint) {
							text-align: left;
						}
					}
				}
			}
		}
	}

	*.note {
		display: flex;
		line-height: 1.2;
		&:before {
			content: '*';
			margin-right: .5em;
		}
	}

}

[data-action='disclose'] {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	cursor: pointer;
	&:after {
		content: '';
		flex-shrink: 0;
		width: 1.5em;
		height: 1.5em;
		background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDkiIGhlaWdodD0iNDgiIHZpZXdCb3g9IjAgMCA0OSA0OCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEwLjU2NDkgMThMMjQuNTY0OSAzMkwzOC41NjQ5IDE4IiBzdHJva2U9ImJsYWNrIiBzdHJva2Utd2lkdGg9IjMiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPgo8L3N2Zz4K") center / contain no-repeat;
		margin-left: 1em;
		.transit(transform);
	}
	&.open:after {
		transform: rotate(180deg);
	}
	& + * {
		display: none;
	}

}

#app-form {
	.jsless-popin();
	.popin-container {
		position: relative;
		height: 90vh;
		padding: 1em 1.5em 1em;
		border-radius: 1em;
		width: 90vw;
		max-width: 450px;
		overflow: hidden;
		@media screen and (max-width: @mobile-breakpoint) {
			height: 80vh;
		}
		iframe {
			.abs100x100;
		}
		.dismiss {
			.interactive;
			position: absolute;
			top: 0;
			right: 0;
			.flex-center;
			color: inherit;
			font-size: 2em;
			line-height: 1;
			width: 1.5em;
			height: 1.5em;
		}
	}
}

#learn-more {
	.jsless-popin;
	.popin-container {
		position: relative;
		background-color: @coral-page-bg;
		font-size: (18/760) * 100vmin;
		@media screen and (min-width: 760px) and (min-height: 760px) {
			font-size: 18px;
		}
		width: (760/18em);
		max-width: 520px;
		max-height: 100vh;
		border-radius: 1em;
		overflow: hidden;
		@media screen and (max-aspect-ratio: ~"1/1") and (max-width: 760px) {
			width: 100vw;
			max-width: none;
			height: 100vh;
			max-height: 100vh;
			overflow-y: auto;
			border-radius: 0;
			font-size: 3vmin;
		}
		.dismiss {
			.interactive();
			position: absolute;
			top: 0;
			right: 0;
			width: 3em;
			height: 3em;
			background: url("data-url:/site/coral.ru/inline-assets/icon-dismiss.svg") center / 50% no-repeat;
		}
		h4 {
			margin: 0;
			font-size: (24/18em);
			font-weight: 700;
		}
		p {
			margin: 0;
		}
		.head {
			padding: (20/18em) (24/18em);
		}
		.body {
			padding: (20/18em) (24/18em);
			.flex-column;
			align-items: center;
			text-align: center;
			background: white;
			border-radius: 1em;
			box-shadow: 0 0 32px fade(black, 25%);
			@media screen and (max-width: @mobile-breakpoint) {
			    border-radius: 0;
			}
			h4 {
				margin: .5em auto;
				padding: 0 2em;
			}
			.phome-number {
				font-size: (32/18em);
				font-weight: 700;
				color: @coral-main-yellow;
				text-decoration: none;
			}
			.eliteservice-banner {
				font-size: (16/18em);
				line-height: 1;
				letter-spacing: .2em;
				padding: .5em .7em;
				border: 1px solid currentColor;
				border-radius: 3px;
			}
			.token {
				width: (64/18em);
				height: (64/18em);
				filter: drop-shadow(.3em .3em 8px fade(black, 10%));
				background: center / contain no-repeat;
				margin: 1em auto;
				&.callcenter {
					background-image: url(data-url:/site/coral.ru/inline-assets/icon-callcenter.svg);
				}
				&.eliteservice-marker {
					background-image: url(data-url:/site/coral.ru/inline-assets/icon-eliteservice-marker.svg);
				}
			}
			a {
				color: @coral-href;
				text-decoration: underline;
			}
		}
		.foot {
			.flex-column;
			align-items: center;
			padding: (20/18em) (24/18em);
			.contact-us {
				width: 100%;
				display: flex;
				justify-content: space-between;
				margin-top: 1em;
				h5 {
					font-size: 1em;
					margin: 0;
				}
				.launchpad {
					display: flex;
					filter: drop-shadow(.3em .3em 8px fade(black, 10%));
					>* {
						.interactive;
						width: (48/18em);
						height: (48/18em);
						background: center / contain no-repeat;
						&:nth-child(n+2) {
							margin-left: 1em;
						}
						&.whatsapp {
							background-image: url(data-url:/site/coral.ru/inline-assets/icon-whatsapp.svg);
						}
						&.vk {
							background-image: url(data-url:/site/coral.ru/inline-assets/icon-vk.svg);
						}
						&.telegram {
							background-image: url(data-url:/site/coral.ru/inline-assets/icon-telegram.svg);
						}
						&.msg {
							background-image: url(data-url:/site/coral.ru/inline-assets/icon-msg.svg);
						}
					}
				}
			}
		}
	}
}

*[data-content-marker]:not(.shown) {
	display: none!important;
}

.container-tabItem.activeTab.sticky {
	.transit(opacity);
	.transit(transform);
	&.hidden {
		transform: translateY(-100%);
		opacity: 0;
	}
}